* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
    border-bottom:2px solid lightgray ;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #009688;
    font-family: cambria;
    text-align: center;
    >h1{
       
 
    }
    >svg{
       
     font-size: 2rem;
    }
}
.box{
    width: 65px;
    height: 65px;
    border-radius: 7px;
    border: 2px solid grey;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: capitalize;
}
.boxes{
    max-width: 100%;
    margin: 1rem auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    >div{
        margin:  auto;
        display: flex;
    }
    
    
}
.buttonsstack{
width: 100%;
flex-wrap: wrap;
justify-content: center;
margin: 1rem auto;
display: flex;
flex-shrink: 1;
flex-direction: column;
>div{
    margin: auto;
    max-width: 70%;
    justify-content: center;
    flex-shrink: 1;
    display: flex;
    
    >button{
        border-radius: 5px;
        font-weight: bold;
        padding: 18px;
        text-transform: capitalize;
        margin: 3px;
        background-color: #dce1ed;
        border: 2px solid transparent;
        cursor: pointer;
        color: #414a5e!important;
        font-size: 17px;


        &:active{
            opacity: 0.5;
        }
    }
}
}
#button20{
    background-color: green;
    color: white;
    outline: none;
    border: none;
}
#button28{
    background-color:red ;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    outline: none;
    border: none;
}
@media screen and (max-width:450px) {
    .buttonsstack{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin:  auto;
        display: flex;
        flex-shrink: 1;
        flex-direction: column;
        >div{
            
            flex-wrap: wrap;
            >button{
                padding: 0.5rem 1rem;
                text-transform: capitalize;
                margin: 2px;
            }
        }
        }
}
.tooshort{
    position: fixed;
    z-index: 1;
    top: 25%;
    right: 49%;
 display: none;
    border-radius: 5px;
   background-color: white;
   box-shadow: 1px 1px 1px black;

   
}
.noword{
    position: fixed;
    z-index: 1;
    top: 25%;
    right: 49%;
 display: none;
    border-radius: 5px;
   background-color: white;
   box-shadow: 1px 1px 1px black;

   
}
.overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    z-index: 2;
    cursor: pointer;
    justify-content: center;
  
    >div{
        background-color: white;
        padding: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        margin: 3rem;
        border-radius: 3px;
        box-shadow: 1px 1px 1px white;

    }
}


.logo{
    width: 80px;
    border: 2px solid white;
    border-radius: 10px;
}

.questionCircle{
    float: right;
    position: absolute;
    top: 5px;
    right: 5px;
}